<section class="laptop-container" #body>
  <div class="laptop" #laptop>
    <div class="base-top"></div>
    <div class="base-bottom"></div>
    <div class="base-left"></div>
    <div class="base-right"></div>
    <div class="base-front"></div>
    <div class="base-back"></div>

    <div class="screen" #screen>
      <div class="screen-front"></div>
      <div class="screen-back"></div>
      <div class="screen-left"></div>
      <div class="screen-right"></div>
      <div class="screen-bottom"></div>
      <div class="screen-top"></div>
    </div>
    <!---end screen---->
  </div>
  <!----end laptop--->

  <p class="modelName">acer laptop 2023</p>
</section>
<!---end body--->
<input type="range" min="0" max="180" orient="vertical" class="range" #range />
