<section class="product-detail-container">
  <h1>Product detail</h1>
  <div class="card-wrapper">
    <mat-card *ngIf="product" class="example-card">
      <mat-card-header>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-subtitle>{{ product.slug }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ product.description }}</p>
        <p>Post created: {{ product.createdAt }}</p>
      </mat-card-content>
      <mat-card-actions class="button-wrapper">
        <button mat-raised-button color="primary" (click)="addToOrder(product)">
          Add
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
