// Padding
$padding-xxxs: 4px;
$padding-xxs: 6px;
$padding-xs: 8px;
$padding-s: 10px;
$padding-m: 12px;
$padding-l: 14px;
$padding-xl: 16px;
$padding-xxxxxl: 50px;

// Margin
$margin-xxxs: 4px;
$margin-xxs: 6px;
$margin-xs: 8px;
$margin-s: 10px;
$margin-m: 12px;
$margin-l: 14px;
$margin-xl: 16px;
$margin-xxl: 18px;
$margin-xxxl: 20px;
$margin-5xl: 50px;
$margin-7xl: 70px;

// Color
$white: #eee;
$slighty-grey: #bbb;
$modern-grey: #a9a9a9;
$gray: #808080;
$gray-one: #514f4f;
$grey: #444;
$grey-one: #333;
$grey-two: #222;
$dark-grey: #201d1d;
$black: #111;
$green-yellow: #adff2f;

// Font
$font-extra-small: 12px;
$font-small: 14px;
$font-normal: 16px;
$font-medium: 18px;
$font-large: 20px;
$font-extra-large: 24px;
$font-extra-largexl: 22px;
$font-extra-largexxl: 26px;
